<!DOCTYPE html>
<html>

<head>
    <title>Sign Up</title>
    <link rel="stylesheet" href="/styles.css">
    <script defer src="/script.js"></script>
</head>

<style>
    body {
        background-color: darkslategray;
        text-align: center;
    }

    h1 {
        color: darkorange;
        text-decoration: underline;
        padding-top: 1em;
        font-size: 5em;
        font-family: sans-serif;
    }

    button {
        color: white;
        background-color: blue;
    }
</style>

<body>
    <div class="container">
        <h1>Create Account</h1>

        <% if (message && message.length> 0) { %>
            <p class="message">
                <%= message %>
            </p>
            <% } %>

                <form action="/signup" method="POST">
                    <input type="text" name="username" placeholder="Choose a username" required>
                    <input type="password" name="password" placeholder="Choose a password" required>
                    <button type="submit">Sign Up</button>
                </form>

                <p>Already have an account? <a href="/">Login here</a></p>
    </div>
</body>

</html>